@font-face {
  font-family: 'circular';
  font-style: normal;
  font-weight: normal;
  src: url('circular-regular.woff') format('woff');
}
@font-face {
  font-family: 'circular';
  font-style: bold;
  font-weight: bold;
  src: url('circular-bold.woff') format('woff');
}
body {
  font-family: 'circular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edeff0;
}
body, a, a:hover, a:focus, a:active {
  color: #4b5658;
  text-decoration: none;
}
.text-muted {
  color: #7b8b8e !important;
}
.wrapper {
  margin: 35px auto;
}
.flashcard {
  height: calc(100vh - 198px);
  overflow: auto;
}
.default-card {
  margin-bottom: 30px;
  border-radius: 0.9rem;
  padding: 1.1rem;
}
.card__header {
  border-radius: 0.9rem 0.9rem 0 0;
  padding: 1.1rem;
}
.card__body {
  padding: 1.1rem;
}
.card__footer {
  border-radius: 0 0 0.9rem 0.9rem;
  padding: 1.1rem;
}
.bootstrap-nav {
  margin: 0 auto;
  height: 75px;
  color: #b2bbbd;
}
.bootstrap-nav a {
  color: #b2bbbd;
}
.bootstrap-nav a:hover {
  color: #fff;
}
.wrapper, .bootstrap-nav {
  width: 90%;
  max-width: 900px;
}
.card-columns>.card {
  border: 0;
  border-radius: 0.9rem;
  padding: 0.7rem;
}
.card-deck>.card {
  margin-bottom: 30px;
  flex: 1 0 auto;
  border: 0;
  border-radius: 4px;
  padding: 0.7rem;
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
}
.card-deck>.card:after, .card-deck>.card:before {
  content: "";
  background: #fff;
  height: 5px;
  display: block;
  box-shadow: 0 2px 0 rgba(0,0,0,0.07) inset, 0 2px 0 rgba(0,0,0,0.07);
  border-radius: 0 0 4px 4px;
  position: absolute;
  top: 100%;
  right: 10px;
  left: 10px;
  transition: .1s ease-in-out;
}
.card-deck>.card:before {
  height: 10px;
  left: 20px;
  right: 20px;
}
.card-deck>.card:hover:after, .card-deck>.card:hover:before {
  height: 10px;
}
.card-deck>.card:hover:before {
  height: 20px;
}
.circle {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: lowercase;
}
.circle-sm {
  width: 25px;
  height: 25px;
}
.circle-md {
  width: 40px;
  height: 40px;
}
.form-control {
  background: #e8ebed;
  border: 2px solid #e8ebed;
  font-weight: normal;
  color: #576366;
  border-radius: 5px;
}
.form-control:focus {
  border-color: #b2bbbd;
  background-color: transparent !important;
}
.btn, a.btn {
  padding: 0.5rem 1.2rem;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 4px;
}
.btn:hover, a.circle:hover {
  opacity: 0.8;
}
.btn[disabled], .not-correct {
  color: #fff !important;
  opacity: 0.3 !important;
}
.btn.primary {
  background-color: #5fcf80;
  border-color: #5fcf80;
  color: #fff;
}
::placeholder {
  color: #b2bbbd !important;
}
.btn, .btn:focus, .form-control, .form-control:focus, .in-invalid:focus, .custom-control-input:focus~.custom-control-label::before {
  box-shadow: none !important;
}
a, .form-control, .btn, .circle, .progress__value {
  transition: all 120ms cubic-bezier(0.47,0,0.745,0.715);
}
/*********** COLORS ***********/
.light-black {
  background-color: #3e474f;
}
.white {
  background-color: #ffffff;
}
.red {
  background-color: #f28b82;
}
.orange {
  background-color: #fbbc04;
}
.yellow {
  background-color: #fff475;
}
.green {
  background-color: #ccff90;
}
.teal {
  background-color: #a7ffeb;
}
.blue {
  background-color: #cbf0f8;
}
.dark-blue {
  background-color: #aecbfa;
}
.purple {
  background-color: #d7aefb;
}
.pink {
  background-color: #fdcfe8;
}
.brown {
  background-color: #e6c9a8;
}
.gray {
  background-color: #e8eaed;
}
@media(min-width:575px) {
  .card-columns {
    column-count: 2;
  }
  .card-deck>.card {
    width: 30%
  }
}
@media(min-width:900px) {
  .card-columns {
    column-count: 3;
  }
}